---
layout: archive
title: "Research Projects"
permalink: /portfolio/
author_profile: true
---

My research interests are in the field of computer vision, 3D image processing and immersive imaging technologies, in particular free-viewpoint-video, light field imaging, 3D radiance fields, neural rendering, and cinematic VR.  

{% if site.author.youtube and site.author.vcg %}
  <div class="wordwrap">Please also check <a href="{{site.author.youtube}}">my YouTube channel</a> and the <a href="{{site.author.vcg}}">Visual Computing website</a>.</div>
{% endif %}

<iframe style="width: 100%" src="https://www.youtube.com/embed/imoSxApy4Y8?si=ToasQl7KcjssJb-v" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

